.navbar {
	margin-bottom: 0;
}

body {
	background: #40476D;
	color: #ED6A5A;
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	font-weight: bold;
    font-family:'Montserrat';
}
p {
	font-size: 16px;
	color: #cdcdcd;
}

.jumbotron {
	background: #8589A2;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}

.btn-primary {
	color: #fff;
	background-color: transparent;
	border-color: white;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: white;
	background-color: #A8ABBC;
	border-color: white;
}

.navbar-inverse {
	background: #8589A2;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #A8ABBC;
}

.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #6A958C;
}

p.para {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
}

img {
  border-radius: 50%;
}